@using PagedList;
@using PagedList.Mvc;
@model IPagedList<EmptyLayer.Entities.Stock>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<a class="btn btn-primary" href="/AdminStock/Create">Ekle</a>
<br />
<br />
<table class="table table-bordered">
    <tr>
        <th>Ad</th>
        <th>Ürün Kodu</th>
        <th>Stok Durumu</th>
        <th>Kategori</th>
        <th>Sil</th>
        <th>Güncelle</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Product.Name</td>
            <td>@item.ProductId</td>
            <td>@item.Quantity</td>
            <td>@item.Product.CategoryId</td>
            <td>@Html.ActionLink("Sil", "Delete", new { id = item.Id }, new { @class = "btn btn-danger", onclick = "return confirm('Silmek İstiyor musunuz?')" })</td>
            <td><a href="/AdminStock/Update/@item.Id" class="btn btn-warning">Güncelle</a></td>
        </tr>

    }
</table>
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.Classic)
 