@using PagedList;
@using PagedList.Mvc;
@model IPagedList<EmptyLayer.Entities.Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    @for (int i = 0; i < Model.Count(); i++)
                    {
                        <li data-target="#slider-carousel" data-slide-to="@i" class="@(i == 0 ? "active" : "")"></li>
                    }
                </ol>

                <div class="carousel-inner">
                    @foreach (var product in Model.Select((value, index) => new { value, index }))
                    {
                        <div class="item @(product.index == 0 ? "active" : "")">
                            <div class="col-sm-6">
                                <h1>@product.value.Name</h1>
                                <h2>@product.value.Price.ToString("C")</h2>
                                <p>@product.value.Description</p>
                                @Html.ActionLink("Ürünü İncele", "ProductDetails", "Product", new { id = product.value.Id }, new { @class = "btn btn-default get" })
                            </div>
                            <div class="col-sm-6">
                                <img src="@Url.Content("~/Content/Image/"+product.value.Image)" class="girl img-responsive" alt="@product.value.Name" />
                            </div>
                        </div>
                    }
                </div>

                <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                    <i class="fa fa-angle-left"></i>
                </a>
                <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>



<section>
    <div class="container">
        <div class="row">
            @Html.Action("CategoryList", "Category")

            <div class="col-sm-9 padding-right">
                <div class="features_items">
                    <!--features_items-->
                    <h2 class="title text-center">ÜRÜNLERİMİZ</h2>
                    @foreach (var item in Model)
                    {
                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">

                                        <a href="/Product/ProductDetails/@item.Id"><img src="~/Content/Image/@item.Image" width="65" height="110" alt="" /></a>
                                        <h2>@item.Price</h2>
                                        <p>@item.Name</p>
                                        <a href="/Product/ProductDetails/@item.Id" class="btn btn-default add-to-cart">Ürün Detay</a>
                                    </div>

                                </div>

                            </div>
                        </div>
                    }

                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.Classic)



                </div><!--features_items-->

                @Html.Action("PopularProduct", "Product")

            </div>
        </div>
    </div>
</section>

